<% provide :title, 'Home' %>
<div class="center panel">
  <h1>Tito</h1>
  <h2>
  This is the home page for <a href="#">Tito - A Twitter Clone</a>
  </h2>

  <%= link_to "Sign up now!", "#", class: "button" %>

</div>
