<div class="fixed">
  <nav class="top-bar" data-topbar>
    <ul class="title-area">
      <li class="name">
      <h1><a href="#">Tito</a></h1>
      </li>
    </ul>
    <section class="top-bar-section">
      <ul class="right">
        <li><%= link_to "Home", root_path  %></li>
        <li><%= link_to "Help", help_path  %></li>
        <li><%= link_to "Sign In", "#" %></li>
      </section>
    </nav>
  </div>

